<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>invitationList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">invitationList</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <h1 class="title">LISTA DE CONVIDADOS</h1>
    <div class="flex center container-separation">
      <div class="line"></div>
      <div class="separation"></div>
      <div class="line"></div>
    </div>
  </div>


</ion-content>


