body {
  background-color: var(--primary-color);
}

.container {
  padding-top: 1rem;
}

.logo-img {
  margin: 0 auto;
  width: 7rem;
  height: 7rem;
}

.welcome-text {
  text-align: center;
  margin-bottom: 1rem;

  p {
    font-size: 1rem;
    color: var(--gray-text-color);
    line-height: 1.5;
    max-width: 80%;
    margin: 0 auto;
  }
}

.input-name {
  width: 100%;

  ion-label {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: var(--gray-text-color);
    font-weight: bold;
  }

  .input-group {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    ion-input {
      --padding-start: 10px;
      border: solid 1px var(--secound-color);
      flex: 1;
      margin-right: 10px;
      border-radius: 6px;
      padding: 8px;
    }

    ion-select {
        --padding-start: 10px;
      border: solid 1px var(--secound-color);
      width: 110px;
      border-radius: 6px;
      padding: 2px;
    }
  }
}

.input-name-pair {
  width: 100%;

  ion-label {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: var(--gray-text-color);
    font-weight: bold;
  }

  .input-group {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    ion-input {
      --padding-start: 10px;
      border: solid 1px var(--secound-color);
      flex: 1;
      margin-right: 10px;
      border-radius: 6px;
      padding: 8px;
    }

    ion-select {
        --padding-start: 10px;
      border: solid 1px var(--secound-color);
      width: 110px;
      border-radius: 6px;
      padding: 2px;
    }
  }
}

.input-guests-budget{
    width: 100%;
    display: flex;
    flex-direction: row;
    

.input-group{
    width: 40%;
}

}

