<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img
      class="logo-img"
      src="../../../assets/images/logo.png"
      alt="Bliss Logo"
    ></ion-img>

    <div class="welcome-text">
      <p>Conte-nos mais sobre o seu casamento e personalize sua experiência!</p>
    </div>
  </div>

  <ion-item lines="none" class="input-name">
    <ion-label position="stacked">Eu sou</ion-label>
    <div class="input-group">
      <ion-input
        [(ngModel)]="weddingInfo.name"
        placeholder="Nome"
        (ionInput)="onNameChange($event, 'name')"
      ></ion-input>
      <ion-select
        [(ngModel)]="weddingInfo.userType"
        interface="popover"
        slot="end"
        placeholder="Tipo"
        (ionChange)="onUserTypeChange()"
      >
        <ion-select-option value="noiva">Noiva</ion-select-option>
        <ion-select-option value="noivo">Noivo</ion-select-option>
      </ion-select>
    </div>
  </ion-item>

  <ion-item lines="none" class="input-name-pair">
    <ion-label position="stacked">Meu par é</ion-label>
    <div class="input-group">
      <ion-input
        [(ngModel)]="weddingInfo.partnerName"
        placeholder="Nome"
        (ionInput)="onNameChange($event, 'partnerName')"
      ></ion-input>
      <ion-select
        [(ngModel)]="weddingInfo.partnerType"
        interface="popover"
        slot="end"
        placeholder="Tipo"
        (ionChange)="onUserTypeChange()"
      >
        <ion-select-option value="noiva">Noiva</ion-select-option>
        <ion-select-option value="noivo">Noivo</ion-select-option>
      </ion-select>
    </div>
  </ion-item>

  <app-date-input
    [weddingInfo]="weddingInfo"
    [minDate]="minDate"
  ></app-date-input>
  <ion-item lines="none" class="input-guests-budget">
    <div class="input-group-wrapper">
      <div class="input-group">
        <ion-label position="stacked">Nº de Convidados</ion-label>
        <ion-input
          type="text"
          inputmode="numeric"
          placeholder="0"
          [(ngModel)]="weddingInfo.guests"
          (ionInput)="blockGuestsInput($event)"
        ></ion-input>
      </div>
      <div class="input-group">
        <ion-label position="stacked">Orçamento</ion-label>
        <ion-input
          [(ngModel)]="lastValidBudget"
          [(ngModel)]="weddingInfo.budget"
          (ionInput)="onBudgetInput($event)"
          type="text"
          inputmode="decimal"
          placeholder="R$ 0,00"
        ></ion-input>
      </div>
    </div>
  </ion-item>

  <div class="suppliers-preference">
    <ion-label class="suppliers-title">Preferência de Fornecedores</ion-label>
    <div class="suppliers-options">
      @for (supplier of suppliersList; track supplier) {
      <ion-checkbox
        justify="start"
        labelPlacement="end"
        [checked]="weddingInfo.selectedSuppliers.includes(supplier)"
        (ionChange)="toggleSupplierSelection(supplier, $event.detail.checked)"
      >
        {{ supplier }}
      </ion-checkbox>
      }
    </div>
  </div>

  <div class="register-button">
    <ion-button expand="block" (click)="submitForm()">REGISTRAR</ion-button>
  </div>
</ion-content>
