
/* adiciona apenas um comentario no topo dizendo o que faz */
@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Começa acima */
    opacity: 0; /* Fica invisível */
  }
  to {
    transform: translateY(0); /* Vai para o normal */
    opacity: 1; /* Fica visível */
  }
}
  

// adicionar notação & para ter certeza que está modificando apenas o conteúdo dentro do container e identar
ion-content{
    --padding-top: 5rem
}

 .header {
    text-align: center;
    padding: 2rem;
    background-color: var(--secound-color);
    color: #ffffff;
  
    & h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: 'text-font';
    }
  
    h1 {
      margin: 5px 0;
      font-size: 3rem;
      font-weight: 700;
      font-family: 'text-font';
    }
  
    p {
      margin: 0;
      font-size: 1rem;
      font-weight: 500;
      font-family: 'text-font';
    }
  }
  .clear-filter{
    --background: white;
    --color: var(--ion-color-primary);
    --box-shadow:none;
    --border-width: 1px;
    --border-color:var(--ion-color-primary);
    --border-style:solid;
    justify-self: center;
    font-family: 'text-font';

  }

  .container-search {
    animation: slideDown 0.5s ease-out forwards;
  }

 .container-categories {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  gap: 1rem;
  padding: 0rem 1rem;
  height: 6rem;
  border-radius: 20px;
    
    ion-button{
      width: fit-content;
      white-space: nowrap;
      height: 50%;
      font-family: 'text-font';
      --border-radius: 100px;
      --border-width:1px;
      --border-style:solid;
      --border-color:var(--ion-color-primary);
      --background:white;
      --color:var(--ion-color-primary);
      --background-activated:var(--ion-color-primary);
      --background-activated-opacity: 1;
      --color-activated: white;
    }
  }
  .show-notifications{
    position: absolute;
    z-index: 1;
    background-color: var(--gray-tabs-color);
    max-width: 2rem;
    min-height: 1.5rem;
    max-height: 2rem;
    min-width: 1.5rem;
    max-width: 2rem;
    padding: 5px;
    font-size: 0.7rem;
    border-radius: 100px;
    text-align: center;
    text-justify: center;
    color: white;
    right: 15px;
  }

  
  .icons {
    display: flex;
    justify-content: space-around;
    background-color: var(--secound-color);
    padding-bottom: 2rem;
    box-shadow: 0px 6px 5px rgb(189, 189, 189);
    
    .division-buttons-icon{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      --background-activated: red !important;
      --background-activated-opacity: 1 !important;
    }

    ion-label{
      color:white;
      font-weight: 500;
      font-family: 'text-font';
    }

    .icon {
      text-align: center;
      color: white;
      --background: white;
      width: 3.5rem;
      height: 3.5rem;
      --border-radius: 100px;
      
  
      ion-icon {
        font-size: 24px;
        color: var(--secound-color);
      }
  
      p {
        margin-top: 5px;
        font-size: 12px;
        color: var(--secound-color);
      }
    }
  }
  ion-input{
    width: 80%;
    align-self: center;
    justify-self: center;
    margin-top: 1.5rem;
    --border-radius:15px !important;
  }

  ion-list {
    margin: 10px;
  }
  
  ion-item {
    --background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    height:fit-content;
    margin: 1rem 1rem;
  
    img{
      width: 5rem;
      height: 5rem ;
      object-fit: cover;
      border-radius: 15px;
    }

    ion-label {
      margin-left: 1rem;
  
      h2 {
        font-size: 14px;
        font-weight: bold;
        color: var(--ion-color-primary);
      }
      h3{
        font-size: 14px;
        color: var(--ion-color-primary);
      }
  
      p {
        height: 15px;
        font-size: 12px;
        color: #666;
        margin: 0px;
      }
    }
  }
  