
ion-content{
  --padding-top: 6rem
}

.title-page{
  font-family: 'Mainfont';
  color: var(--secound-color);
  justify-self: center;
  font-size: 2.5rem;
}
.container-separation{
  height: 15px;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;

  ion-icon{
      font-size: 1.5rem;
      color: var(--secound-color);
  }
  .line{
      width: 30%;
      height: 1px;
      background-color: var(--secound-color);
  }
  .separation{
      width: 5px;
      height: 5px;
      background-color: red;
      rotate: 45deg;
      background-color: var(--secound-color);
  }
}

ion-col{
  text-align: center;
}

.button-table{
  width: 6rem;
  height: 6rem;
  border-radius: 20px;
  --border-radius:20px;
  border: 1px solid var(--secound-color);
  --background: ;
  color: var(--secound-color);
  font-family: 'text-font';
  font-weight: 900;
}

//from ionic

ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}