
ion-content{
  --padding-top: 6rem
}

.title-page{
  font-family: 'Mainfont';
  color: var(--secound-color);
  justify-self: center;
  font-size: 2.5rem;
}
.container-separation{
  height: 15px;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;

  ion-icon{
      font-size: 1.5rem;
      color: var(--secound-color);
  }
  .line{
      width: 30%;
      height: 1px;
      background-color: var(--secound-color);
  }
  .separation{
      width: 5px;
      height: 5px;
      background-color: red;
      rotate: 45deg;
      background-color: var(--secound-color);
  }
}

ion-col{
  text-align: center;
}

.button-table{
  width: 6rem;
  height: 6rem;
  border-radius: 20px;
  --border-radius:20px;
  border: 1px solid var(--secound-color);
  --background: ;
  color: var(--secound-color);
  font-family: 'text-font';
  font-weight: 900;
}
.button-table#new-table-add{
  border: none;
  --background: var(--secound-color);
  color: #fff;
  font-size: 1.2rem;
}


.title-table{
  font-family: 'Mainfont';
  color: var(--secound-color);
  justify-self: center;
  font-size: 2.5rem;
}
.input-table{
  width: 90%;
  justify-self: center;
  font-family: 'text-font';
  font-weight: 500;
}

.list-guest-in-table{
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 15rem;
  min-height: 5rem;
}

.guest-in-table{
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-self: center;
  --border-color: #fff;
  font-family: 'text-font';
  font-weight: 500;
  

  div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    border: 1px solid var(--secound-color);
    border-radius: 10px;
    padding-left: 1rem;
  }
  ion-button{
    height:100%;
    margin: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    --background: ;
    --box-shadow: none;
    color: var(--secound-color);
    border-left: 1px solid var(--secound-color);
    width: 3rem;
    
  }
}
.all-guest-button-container{
    box-shadow: inset 0px 0px 8px rgb(75, 75, 75) ;
    width: 90%;
    padding: 1rem 1rem;
    justify-self: center;
    margin-top: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 20rem;
    min-height: 5rem;

    ion-button{
      --background: ;
      color: var(--secound-color);
      border: 1px solid var(--secound-color);
      border-radius: 25px;
      --border-radius: 25px;
      width: 3.5rem;
      height: 3.5rem;
      font-family: 'Mainfont';
      font-size: 1.5rem
    }
    
}

.all-guest-button-container .aready-added-button{
  --background: ;
  color: var(--gray-text-color) ;
  border: 1px solid var(--gray-text-color);
  border-radius: 25px;
  --border-radius: 25px;
  width: 3.5rem;
  height: 3.5rem;
}

.container-button{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.cancel-delete-button{
  width: 25%;
  height: 3.5rem;
  border-radius: 25px;
  --border-radius: 25px;
  --background: ;
  color: var(--secound-color);
  font-family: 'text-font';
  font-weight: 500;
  border: 1px solid var(--secound-color)
}
.save-button{
  width: 25%;
  height: 3.5rem;
  border-radius: 25px;
  --border-radius:25px;
  font-family: 'text-font';
  font-weight: 500;
}

.container-button#new-table{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

//from ionic

ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}