<ion-tabs >
  <ion-tab-bar slot="bottom" class="navbar">
    <ion-tab-button tab="home" class="navButton">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="inviteManagment" class="navButton">
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tableManagement" class="navButton">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="bugetManagement" class="navButton">
      <ion-icon name="cash"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="configPage" class="navButton">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
