

<ion-content [fullscreen]="true" class="content">
  <div>
    <h1 class="title">LISTA DE CONVIDADOS</h1>
    <div class="flex center container-separation">
      <div class="line"></div>
      <div class="separation"></div>
      <div class="line"></div>
    </div>
  </div>
  
  <!-- Botões para abrir os modais -->
  <div class="container-invite-buttons">
    <div>
      <ion-button id="open-invitation-bride" class="open-invitation-bride" (click)="openModal('bride')">
        <ion-icon name="person-add" class="icon-wife"></ion-icon>
      </ion-button>
      <ion-label>Adicionar convidado noiva</ion-label>
    </div>
    <div>
      <ion-button id="open-invitation-groom" class="open-invitation-groom" (click)="openModal('groom')">
        <ion-icon name="person-add" class="icon-husband"></ion-icon>
      </ion-button>
      <ion-label>Adicionar convidado noivo</ion-label>
    </div>
  </div>

  <!-- Modais personalizados -->
  <app-add-guest-modal
    [guestType]="'bride'"
    [(isOpen)]="isBrideModalOpen"
    (guestAdded)="onGuestAdded($event)">
  </app-add-guest-modal>

  <app-add-guest-modal
    [guestType]="'groom'"
    [(isOpen)]="isGroomModalOpen"
    (guestAdded)="onGuestAdded($event)">
  </app-add-guest-modal>

  <!-- Lista de convidados da noiva -->
  <div class="guest-container">
    <ion-grid>
      <ion-row>
        <ion-col class="guest" size="3" *ngFor="let guest of brideGuests">
          <app-guest-card [guest]="guest" bog="bride"></app-guest-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Lista de convidados do noivo -->
  <div class="guest-container">
    <ion-grid>
      <ion-row>
        <ion-col class="guest" size="3" *ngFor="let guest of groomGuests">
          <app-guest-card [guest]="guest" bog="groom"></app-guest-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
