

<ion-content [fullscreen]="true" class="content">
  <div>
    <h1 class="title">LISTA DE CONVIDADOS</h1>
    <div class="flex center container-separation">
      <div class="line"></div>
      <div class="separation"></div>
      <div class="line"></div>
    </div>
  </div>

  <div class="container-invite-buttons">
    <div>
      <ion-button id="open-custom-dialog" class="open-invitation-wife">
        <ion-icon name="person-add" class="icon-wife"></ion-icon>
      </ion-button>
      <ion-label>Adicionar convidado noiva</ion-label>
    </div>
    <div>
      <ion-button id="open-custom-dialog2" class="open-invitation-husband">
        <ion-icon name="person-add" class="icon-husband"></ion-icon>
      </ion-button>
      <ion-label>Adicionar convidado noivo</ion-label>
    </div>
  </div>

  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper">
        <h1 class="title-invite">Enviar Convite</h1>

        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Telefone</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Tipo de convidado</ion-label>
            <ion-select interface="action-sheet" placeholder="Selecione o tipo">
              <ion-select-option value="Convidado">Convidado</ion-select-option>
              <ion-select-option value="Padrinho">Padrinho</ion-select-option>
              <ion-select-option value="Madrinha">Madrinha</ion-select-option>
              <ion-select-option value="mãe da noiva">mãe da noiva</ion-select-option>
              <ion-select-option value="pai da noiva">pai da noiva</ion-select-option>
              <ion-select-option value="mãe do noivo">mãe do noivo</ion-select-option>
              <ion-select-option value="pai do noivo">pai do noivo</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div class="button-container">
          <ion-button class="send-button">Enviar</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>


  <ion-modal id="example-modal" #modal trigger="open-custom-dialog2">
    <ng-template>
      <div class="wrapper">
        <h1 class="title-invite">Enviar Convite</h1>
        
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Telefone</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Tipo de convidado</ion-label>
            <ion-select interface="action-sheet" placeholder="Selecione o tipo">
              <ion-select-option value="Convidado">Convidado</ion-select-option>
              <ion-select-option value="Padrinho">Padrinho</ion-select-option>
              <ion-select-option value="Madrinha">Madrinha</ion-select-option>
              <ion-select-option value="mãe da noiva">mãe da noiva</ion-select-option>
              <ion-select-option value="pai da noiva">pai da noiva</ion-select-option>
              <ion-select-option value="mãe do noivo">mãe do noivo</ion-select-option>
              <ion-select-option value="pai do noivo">pai do noivo</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div class="button-container">
          <ion-button class="send-button">Enviar</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>

 
    <div class="flex center container-separation">
      <div class="line"></div>
      <div>
        <ion-icon name="person"></ion-icon>
      </div>
      <div class="line"></div>
    </div>
 
  <div class="guest-container">
    <ion-grid>
      <ion-row>
        <ion-col class="guest" size="3" *ngFor="let guest of BrideGuests">
          <ion-button [id]="'open-modal-invite-' + guest.id" >
            <ion-icon name="person"></ion-icon>
          </ion-button>
          <ion-label> {{ guest.nome }}</ion-label>
        </ion-col>
    </ion-row>
    </ion-grid>
  </div>
  
  <div class="flex center container-separation2">
    <div class="line"></div>
    <div>
      <ion-icon name="person"></ion-icon>
    </div>
    <div class="line"></div>
  </div>
  
  <div class="guest-container">
    <ion-grid>
      <ion-row>
        <ion-col class="guest" size="3" *ngFor="let guest of GroomGuests">
          <ion-button id="open-modal-invite">
            <ion-icon name="person"></ion-icon>
          </ion-button>
          <ion-label>{{ guest }}</ion-label>
        </ion-col>
    </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-modal id="example-modal" #modal [trigger]="'open-modal-invite-' + guest.id" *ngFor="let guest of BrideGuests" >
  <ng-template>
    <div class="wrapper">
      <h1 class="title-invitation">{{guest.nome}}</h1>
      <div class="photo-container">
        <ion-icon name="person"></ion-icon>
      </div>
        <ion-item>
          <ion-label position="stacked">Tipo de convidado</ion-label>
          <ion-select interface="action-sheet" placeholder="{{guest.tipo}}">
            <ion-select-option value="Convidado">Convidado</ion-select-option>
            <ion-select-option value="Padrinho">Padrinho</ion-select-option>
            <ion-select-option value="Madrinha">Madrinha</ion-select-option>
            <ion-select-option value="mãe da noiva">mãe da noiva</ion-select-option>
            <ion-select-option value="pai da noiva">pai da noiva</ion-select-option>
            <ion-select-option value="mãe do noivo">mãe do noivo</ion-select-option>
            <ion-select-option value="pai do noivo">pai do noivo</ion-select-option>
          </ion-select>
        </ion-item>
        <p class="resend">O convite não chegou? <a href="">Reenviar convite</a></p>
      

      <div class="button-container">
        <ion-button class="send-button">Salvar</ion-button>
        <ion-button class="remove-button">cancelar convite</ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>


