@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


// @import "@ionic/angular/css/palettes/dark.system.css";


:root{
    --ion-color-primary:#D95578;
    --primary-color:#FFFFFF;
    --secound-color:#D95578;
    --blue-text-color:#012840;
    --black-text-color:#000000;
    --gray-text-color:#737373;
    --gray-tabs-color:#647D8C;
}


@font-face {
    font-family: 'text-font';
    src: url('~assets/fonts/Lato-Thin.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'text-font';
    src: url('~assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'text-font';
    src: url('~assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'text-font';
    src: url('~assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
  }

  @font-face {
    font-family: 'MainFont';
    src: url('~assets/fonts/Main-Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }