

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="img-logo">
      <ion-img src="../../../assets/images/logo-branca.png" alt="logo do bliss"></ion-img>
    </div>
    <ion-text><h1>O grande dia começa aqui!</h1></ion-text>
    <ion-img src="../../../assets/images/cistei.png" alt="foto de dois cisneis se beijando"></ion-img>
    <ion-text><h2>Um dia especial começa com um planejamento ainda mais especial.</h2></ion-text>
    <ion-button size="larger" routerLink="/register">COMECE AGORA</ion-button>
    <ion-text>Já possui uma conta? <a routerLink="/login"> Fazer login </a></ion-text>
  </div>
</ion-content>